---
interface Props {
  node: { href?: string };
}
const { node } = Astro.props;
const href = node?.href ?? '';
const isExternal = /^https?:\/\//.test(href);
---
<a
  href={href}
  class="underline hover:text-what-red-01 focus:text-what-red-01 cursor-pointer"
  target={isExternal ? '_blank' : undefined}
  rel={isExternal ? 'noopener noreferrer' : undefined}
>
  <slot />
</a>
