---
import type { Category } from '../../types';

interface Props {
  categories: Category[];
}
const { categories } = Astro.props;
const pathname = Astro.url.pathname;
const onHome = pathname === '/' || pathname === '';
---

<div class="flex flex-row flex-wrap pt-8 gap-x-3 gap-y-2">
  <a
    href="/"
    class:list={[
      'cursor-pointer hover:text-what-red-01 text-base',
      onHome && 'text-what-red-01',
    ]}
  >
    Utvalt
  </a>
  {categories.map((category) => {
    const active = pathname === `/${category.path.current}`;
    return (
      <span>
        <a
          href={`/${category.path.current}`}
          class:list={[
            'cursor-pointer hover:text-what-red-01 text-base',
            active && 'text-what-red-01',
          ]}
        >
          {category.title}
        </a>
      </span>
    );
  })}
</div>
