---
import SanityImage from '../atoms/SanityImage.astro';
import Nav from './Nav.astro';
import type { SanityImageAssetDocument } from '@sanity/client';

interface Props {
  class?: string;
  logotype: SanityImageAssetDocument;
}
const { class: className, logotype } = Astro.props;
---

<header class:list={['pb-8 flex flex-col justify-between', className]}>
  <div class="flex flex-row justify-between items-start w-100 mt-8 mb-6">
    <div class="flex flex-col justify-items-end sm:mr-4 mr-0 pb-1.5 w-60">
      <a href="/" class="cursor-pointer relative block h-20">
        <SanityImage
          fill
          priority
          asset={logotype}
          class="object-contain object-bottom"
          alt="Logotype"
          sizes="240px"
        />
      </a>
    </div>
    <Nav />
  </div>
  <slot name="filterBar" />
</header>
