---
---
<nav class="flex flex-col lg:flex-row space-x-6 h-full items-end justify-end">
  <p class="md:text-3xl text-2xl hover:text-what-red-01">
    <a href="/" class="cursor-pointer">Projekt</a>
  </p>
  <p class="md:text-3xl text-2xl hover:text-what-red-01">
    <a href="/studio" class="cursor-pointer">Studio</a>
  </p>
</nav>
